/* Base styles */
:root {
  /* Neutral colors */
  --color-neutral-1: hsl(210, 46%, 95%);
  --color-neutral-2: hsl(212, 23%, 69%);
  --color-neutral-3: hsl(214, 17%, 51%);
  --color-neutral-4: hsl(217, 19%, 35%);

  /* Spacing sizes */
  --size-xs: clamp(0.5rem, calc(0.35rem + 0.3vw), 1rem);
  --size-sm: clamp(1rem, calc(1rem + 0.4vw), 1.75rem);
  --size-md: clamp(1.2rem, calc(1.2rem + 0.5vw), 3rem);

  /* Font sizes */
  --fs-sm: clamp(1rem, calc(0.8rem + 0.4vw), 1.3rem);
  --fs-md: clamp(1rem, calc(0.9rem + 0.6vw), 1.5rem);

  /* Font weights */
  --fw-medium: 500;
  --fw-bold: 700;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utilities */
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

/* Layout */
/* main layouts */
body {
  width: 100%;
  min-height: 100vh;
  align-items: center;
  background: var(--color-neutral-1);
  font-family: "Manrope", sans-serif;
}
main {
  margin-block: calc(var(--size-md) + 2rem);
}
footer {
  width: 100%;
  margin-block-start: auto;
}

/* sub layouts */
.text-content {
  align-items: flex-start;
  max-width: 45ch;
  gap: var(--size-sm);
  margin: calc(var(--size-md) + 1.5rem) calc(var(--size-sm) + 1rem)
    var(--size-sm);
}
.profile {
  position: relative;
  padding: var(--size-md) calc(var(--size-sm) + 1rem);
  gap: var(--size-sm);
  width: 100%;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  width: min(90vw, 30rem);
  border-radius: var(--size-sm);
  background: white;
  overflow: hidden;
}
.dialog {
  position: absolute;
  border: none;
  inset: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: transparent;
  border-radius: 0 0 var(--size-sm) var(--size-sm);
}
.dialog-content {
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-inline: calc(var(--size-md) + 1rem);
  gap: var(--size-md);
  background: var(--color-neutral-4);
}

.icons {
  height: 100%;
  gap: var(--size-md);
}
.icon-wrapper {
  background: var(--color-neutral-1);
  margin-inline-start: auto;
  border-radius: 50%;
  padding: 0.6rem;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.icon-wrapper:hover {
  background: var(--color-neutral-3);
}
.attribution {
  width: 100%;
  padding-block-end: var(--size-sm);
  text-align: center;
  font-weight: var(--fw-bold);
  color: var(--color-neutral-4);
  font-size: calc(var(--fs-sm) - 0.3rem);
}

/* Components */
/* sub components */
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top left;
}
.title {
  color: var(--color-neutral-4);
  font-weight: var(--fw-bold);
  font-size: var(--fs-md);
}
.description {
  color: var(--color-neutral-3);
  font-size: var(--fs-sm);
  font-weight: var(--fw-medium);
}
.name {
  font-size: calc(var(--size-sm) - 0.3rem);
  color: var(--color-neutral-4);
  font-weight: var(--fw-bold);
}
.date {
  color: var(--color-neutral-3);
  letter-spacing: 0.1rem;
  font-weight: var(--fw-medium);
  margin-block-start: 0.2rem;
  font-size: calc(var(--size-sm) - 0.3rem);
}
.avatar {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: calc(2rem + 1vw);
  height: calc(2rem + 1vw);
}
.icon {
  color: var(--color-neutral-1);
  max-width: 2rem;
  cursor: pointer;
}
.share {
  color: var(--color-neutral-3);
}
.dialog-share {
  color: var(--color-neutral-1);
}
.icon-wrapper:hover .share {
  color: var(--color-neutral-1);
}
.dialog-text {
  letter-spacing: 0.4rem;
  font-weight: var(--fw-medium);
  color: var(--color-neutral-2);
}
.link {
  color: var(--color-neutral-3);
}
.link:hover {
  color: var(--color-neutral-2);
}

@media screen and (min-width: 60rem) {
  /* Layout */
  /* main layout */
  main {
    margin-block: auto;
  }
  footer {
    margin-block-start: 0;
  }

  /* sub layout */
  .card {
    display: grid;
    grid-template:
      "image text" 1fr
      "image profile" auto /
      auto 1fr;

    width: auto;
    align-items: center;
    box-shadow: 0 0.2rem 1rem var(--color-neutral-4);
    overflow: visible;
  }
  .text-content {
    grid-area: text;
    align-items: center;
    max-width: 40ch;
  }
  .profile {
    grid-area: profile;
  }
  .dialog {
    height: calc(2.5rem + 5vh);
    width: max-content;
    inset: 0;
    top: unset;
    bottom: 100%;
    left: unset;
    right: 0;
    transform: translateX(calc(42% - (var(--size-sm) + 1rem)));
    border-radius: 1rem;
    z-index: 99;
  }
  .dialog-content {
    border-radius: 1rem;
    padding: var(--size-md);
  }
  .dialog-icon-wrapper {
    display: none;
  }

  /* Components */
  .image {
    grid-area: image;
    width: auto;
    max-width: calc(15rem + 5vw);
    height: 100%;
    border-radius: var(--size-sm) 0 0 var(--size-sm);
  }
  .triangle {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 90%);
    border-left: 0.8rem solid transparent;
    border-right: 0.8rem solid transparent;
    border-top: 0.8rem solid var(--color-neutral-4);
  }
}
